# Task Manager
TASK_MANAGER_PORT=8000
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
RUNTIME_MODE=docker
DOCKER_NETWORK=data-platform_backend
PRODUCER_IMAGE=data-platform-producer:latest
AIRFLOW_ENABLED=false
AIRFLOW_BASE_URL=http://airflow-webserver:8080
AIRFLOW_USERNAME=airflow
AIRFLOW_PASSWORD=airflow

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=data_platform
CLICKHOUSE_TABLE=pipeline_events
